.Participant-title-box {
  height: 48px;
}
.Participant {
  color: #505050;
  height: 72px;
}
DIV.tr {
  display: table-row;
}
DIV.td {
  width:150px;
  display: table-cell;
  white-space: nowrap;
}
.editButton, .removeButton {
  vertical-align: middle;
  background-color: transparent;
  border:0;
  margin:0;
  padding:0 0 0 60px;
  height:24px;
  width:24px;
  text-align: right;
}