.Participant-title-box {
  height: 48px;
}
.Participant {
  color: #505050;
  height: 72px;
}
DIV.tr {
  display: table-row;
}
DIV.td {
  width:150px;
  display: table-cell;
  white-space: nowrap;
}
DIV.buttons {
  width: 65px;
  padding: 0 0 0 50px
}
.editButton, .removeButton {
  vertical-align: middle;
  background-color: transparent;
  border:0;
  margin:0 20px 0 20px;
  padding:0 0 0 10px;
  height:24px;
  width:24px;
}