DIV.table {
  width:100%;
  display: table;
  border-collapse: collapse;
}
DIV.tr, FORM.tr {
  display: table-row;
  background: white;
  color: #505050;
  border-bottom: 1px solid #DCDCDC;
}
DIV.tableHeader {
  color: #757575;
  font-size:14px;
  font-weight: 500;
  line-height:16px;
  display: table-row;
  height: 48px;
}
DIV.th, DIV.td {
  display: table-cell;
  white-space: nowrap;
  font-size: 16px;
  width: 150px;
  line-height: 24px;
  font-weight: 400;
  padding:24px 0 24px 24px;
}
